* {
  /* line added yb Mr.Hardman */
  box-sizing: border-box;
}
/*
  the height is set to 101% so that the scroll bar is visible on all pages
  because if the webpage has a scroll bar all the element get shifted a little bit to the left 
  so if all pages have a scroll bar the positon of sections will be consistent
 */
html {
  height: 101%;
}
/*
  the line height of the html page is 140% which means that the space between text is 140% of the font size
  so since my font size is 16px the line height would be 23px
  --
  I used sans serif fonts since I want my website to look more modern
  --
  the font size of everything inside body is 16px by defualt 
  --
  I used a darker background colour to emphasize the colours of the rubiks cube and the text colour is an off-white 
  so it is easier to read 
 */
body {
  line-height: 140%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  background-color: #1d1d1d;
  color: #ebebff;
}
/*
  the height of the header is set to 60px
  the text is aligned to the centre to make it easier to see nav
  position is absolute so the header doesnt move from the top

  background colour of the header is set to a ligher black than the main background 
  so the user knows where the header starts and ends
 */
header {
  height: 60px;
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background-color: #222227;
}
/*
  all the elements inside the header will have a display of inline block
  so that i can set the height and width of the elements
 */
header * {
  display: inline-block;
}
nav ul li {
  /* line added added by Mr. Hardman */
  border: 0;
}
nav ul {
  /* line added by Mr. Hardman */
  display: flex;
  list-style: none;
}
/*
  the font colour is white to meet contrast requirements
  text decoration is none so there is no underline
  font weight is bold to make bring more attention to the text
  the text size is 20px so it will be bigger than defualt text and smaller than heading text
  transition duration 0.4s makes it so it takes 0.4 seconds for 1 whole transion to occur 
 */
.nav-links {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  padding: 19px;
  transition-duration: 0.4s;
}
/*
  when the user hovers over or focuses on a nav link the background colour of the link turns light gray
 */
nav ul a:hover,
nav ul a:focus {
  background-color: #4d4b4b;
}
/*
  sets the headerImg element to position absolute and puts it in the top left corner of the webpage
  sets the width and height to 50px so the image fits in the header
 */
#headerImg {
  position: absolute;
  left: 0;
  top: 0;
  padding: 3px;
  width: 50px;
  height: 50px;
}
/*
  sets the width and height of the header img to the same size of the headerImg parent element
 */
#headerImg img {
  width: 100%;
  height: 100%;
}
/*
  since the header height is 60px there is a top margin of 60px so that the main doesnt overlap with the header
  adds a padding of 10px for null space
  aligns all text to the centre so user attention goes to the centre
 */
main {
  margin-top: 60px;
  padding: 10px;
  text-align: center;
}
/* 
  positions the footer at the bottom of the webpage and makes it so that it stays there not matter what
  makes the background colour of the footer light gray and aligns all text in the footer to the centre
*/
footer {
  position: absolute;
  right: 0;
  left: 0;
  background-color: #303030;
  text-align: center;
}
/* ul added bu Mr. Hardman */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/*  */
