/*
  the line height of the html page is 140% which means that the space between text is 140% of the font size
  so since my font size is 16px the line height would be 23px
  --
  I used sans serif fonts since I want my website to look more professional
  --
  the font size of everything inside body is 16px by defualt 
  --
  I used a darker background colour to emphasize the colours of the rubiks cube and the text colour is ghostwhite 
  so it is eaiser to read 
 */
* {
  /* line added by Mr. Hardman */
  box-sizing: border-box;
}

html {
  height: 101%;
}
body {
  line-height: 140%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  background-color: #1d1d1d;
  color: #ebebff;
}
header {
  height: 60px;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background-color: #222227;
}
header * {
  display: inline-block;
}
nav ul li {
  padding: 0;
  margin: 0;
  /* border: 0; added by Mr. Hardman */
  border: 0;
}
nav ul {
  /* line added by Mr. Hardman */
  display: flex;
  list-style: none;
}
.nav-links {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  padding: 19px;
  transition-duration: 0.4s;
}
nav ul a:hover {
  background-color: #4d4b4b;
}
#headerImg {
  position: absolute;
  left: 0;
  top: 0;
  padding: 3px;
  width: 50px;
  height: 50px;
}
#headerImg img {
  width: 100%;
  height: 100%;
}
main {
  margin-top: 60px;
  padding: 10px;
  text-align: center;
}
footer {
  position: absolute;
  right: 0;
  left: 0;
  background-color: #303030;
  text-align: center;
}
/* ul added bu Mr. Hardman */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/*  */
